.cards {
    max-width: 25rem;
}

.btn {
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    color: #fff;
    background: #EA625C;
    padding: 12px 25px;
    font-weight: bold;
    transition: .3s;

    &:hover {
        opacity: .8;
    }
}